.navbar.navbar-expand-lg.navbar-dark.px-3{
  background-color: black;
  color: white;
}

container-fluid{
  position: relative;
}

#iconFace,
#iconTwitter,
#iconInsta,
#iconYoutube{
  color: white;
  width: 100px;
  flex-wrap: wrap;
}
.logo-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%)

}
.img-fluid{
  max-height: 120px;
}


