<nav class="navbar navbar-expand-lg navbar-dark px-3">
  <div class="container-fluid d-flex justify-content-between align-items-center py-5">
    <div class="d-flex justify-content-between">
     <a href="" target="_blank" id="iconFace">
      <i class="bi bi-facebook"></i>
     </a>
     <a href="" target="_blank"id="iconTwitter">
      <i class="bi bi-twitter"></i>
     </a>
     <a href="" target="_blank"id="iconInsta">
      <i class="bi bi-instagram"></i>
     </a>
     <a href="" target="_blank"id="iconYoutube">
      <i class="bi bi-youtube"></i>
     </a>
    </div>
    <div class="logo-container">
        <img src="assets/img/Star_Wars_Logo.svg.png" alt="Logo lletres star wars"
        class="img-fluid" aria-hidden="true"/>
    </div>
    <div class="d-flex div3">
      LOGIN i Registre
    </div>
  </div>
</nav>
