<app-navbar></app-navbar>
<div class="center-container pt-5">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container">
      <h2>Log in</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Email:</mat-label>
        <input matInput placeholder="Email" formControlName="email" id="emiail">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password:</mat-label>
        <input matInput placeholder="Password" formControlName="password" id="password">
      </mat-form-field>
      <div class="example-button-row mt-3">
      <button mat-flat-button type="submit" class="btn btn-warning">Log In</button>
      </div>
    </div>
  </form>
  <div class="example-button-row mt-3">
    <button mat-flat-button type="button" class="btn btn-warning" (click)="onClickGoogle()">Log In with Google</button>
  </div>
  <a href="/register">You don't have a account?Register</a>
</div>
