<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <h1 class="h1 pt-3">Akelarre C&A Teatral</h1>
    </div>
    <div class="col-8">
      <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
              <span class="visually-hidden">(current)</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/full-calendar" routerLinkActive="active">Calendari</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/mapa" routerLinkActive="active">Mapa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/grafics" routerLinkActive="active">Gràfics</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
