
<div class="container mt-5">
  <div class="row d-flex justify-content-center align-items-center">
    <h1 class="h1 text-center text-danger fw-bold">Akelarre</h1>
      <img class="img-fluid" src='akelarre.jpg' alt="akelarre bruixes al voltant del foc"/>
      <h2 class="h2 text-center text-danger fw-bold">C&A Teatral</h2>
    </div>
    <div class="d-flex flex-row justify-content-around">
      <button [routerLink]="['/members-list']" type="button" class="btn btn-primary btn-lg">Membres C&A</button>
      <button [routerLink]="['/crud-members']" type="button" class="btn btn-primary btn-lg">Organitzar C&A</button>
    </div>
</div>


