<div class="d-flex justify-content-center">
  <div class="container">
    <div class="text-center">
    <hr class="text-white my-1"/>
    <h2 class="text-start py-2 ps-3">Starship</h2>
    <hr class="text-white my-1"/>
    </div>

    <div *ngIf ="starship" class="row pt-4 d-flex align-items-stretch">
      <div class="col-md-6 text-center">
        <img [src]= "getStarshipImage()" alt="{{starship.name}}"
        class="img-fluid"/>
      </div>

      <div class="col-md-6 d-flex">
        <h1 class="mb-3">{{starship.name}}</h1>
      </div>

      <div class="row">
        <div class="col-6">
          <p><strong>Model:</strong>{{starship.model}}</p>
          <p><strong>Manufacturer:</strong>{{starship.manufacturer}}</p>
          <p><strong>Length:</strong>{{starship.length}}</p>
          <p><strong>Crew:</strong>{{starship.crew}}</p>
          <p><strong>Passengers:</strong>{{starship.Passengers}}</p>
          <p><strong>Capacidad:</strong>{{starship.cargo_cacity}}</p>
      </div>
          <div class="row">
            <div class="col-6">
            <p><strong>Consumables:</strong>{{starship.consumables}}</p>
            <p><strong>Starship Class:</strong>{{starship.starship_class}}</p>
            <p><strong>Pilots:</strong>{{starship.pilots}}</p>
            <p><strong>Films:</strong>{{starship.films}}</p>
            <p><strong>Created:</strong>{{starship.created}}</p>
            <p><strong>Edited:</strong>{{starship.edited}}</p>
            <p><strong>url:</strong>{{starship.url}}</p>
        </div>
      </div>
    </div>
  </div>

